<section id="contact">
        <div class="divider light">
            <h2>Contact Me</h2>
        </div>
        <section>
            <p>If you want to get in touch, don't hesitate to send me an email, message me on Twitter or LinkedIn, and
                check out my code on Github.</p>
            <ul>
                <li><a href="mailto:manuodelrio@gmail.com"><i class="icon-mail"></i>manuodelrio@gmail.com</a></li>
                <li><a href="http://twitter.com/manutastic"><i class="fab fa-twitter"></i>Twitter</a></li>
                <li><a href="http://linkedin.com/in/manuodelrio"><i class="fab fa-linkedin"></i>LinkedIn</a></li>
                <li><a href="http://github.com/manutastic"><i class="fab fa-github-alt"></i>Github</a></li>
            </ul>
        </section>
    </section>