<div class="divider"> <h2>Resume</h2> </div>
<section id="resume">
  <section class="title">
      <h2>Manuel Oppel&nbsp;del&nbsp;Rio</h2>
      <a class="primary button" href="files/resume.pdf">Download PDF <i class="icon-download"></i></a>
  </section>
  <hr>
  <section>
      <h3>Skills</h3>
      <ul class="skills">
          <li>Javascript</li>
          <li>jQuery</li>
          <li>Node.js</li>
          <li>Express.js</li>
          <li>Angular</li>
          <li>React</li>
          <li>MongoDB</li>
          <li>Mongoose</li>
          <li>MySQL</li>
          <li>C++</li>
          <li>Java</li>
          <li>Python</li>
          <li>CSS</li>
          <li>HTML</li>
          <li>XML</li>
          <li>Android Studio</li>
          <li>Git</li>
      </ul>
  </section>
  <section>
      <h3>Experience</h3>
      <p><strong>Web Developer,</strong> Nektar De Stagni - E-Commerce.</p>
      <p class="date">May-August 2016</p>
      <ul>
          <li>Developed a dynamic masonry layout using JavaScript.</li>
          <li>Created a live Instagram feed using their API.</li>
          <li>Worked with CEO to develop a SEO plan; resulted in higher search rankings.</li>
          <li>Redesigned ecommerce website, improving load times, conversion, and bounce rate.</li>
      </ul>

      <p><strong>Web and Graphic Designer,</strong> Tunity Global - Telecommunications.</p>
      <p class="date">May-August 2015</p>
      <ul>
          <li>Updated web pages through CSS and HTML</li>
          <li>Generated print and web content while following existing brand guidelines.</li>
          <li>Managed the company social media presence.</li>
      </ul>
  </section>
  <section>
      <h3>Projects</h3>
      <a class="primary button" href="/projects">See my projects <i class="icon-cheveron-right"></i></a>
  </section>
  <section>
      <h3>Education</h3>
      <p><strong>University of Florida,</strong> Gainesville, FL</p>
      <ul>
          <li>Bachelor in Anthropology</li>
          <li>Minor in Computer Science</li>
      </ul>
      <p><strong>Major GPA:</strong> 3.66, <strong>Honors:</strong> Dean's List.</p>
      <p><strong>Selected coursework:</strong> Data Structures and Algorithms (C++), Programming Fundamentals I & II
          (Java, C++), Operating Systems, Intro to Computer Organization, Application of Discrete
          Structures, Computational Linear Algebra, Digital Anthropology</p>
  </section>
</section>