{% include head.html %}

<body>
    {% include header.html %}
    <section id="about">
        <h2>Hi, I'm <span class='highlighted'>Manu</span> — a full-stack web and software developer with a strong eye
            for design.</h2>
        <p>I strive to create efficient, elegant solutions to real problems, in a way that is both
            enjoyable to interact with and beautiful to look at. If you want to get to know me just
            <a href="#contact">get in touch</a>, or <a href="#projects">check out my work.</a></p>
    </section>
    <section id="projects">
        <div class="divider">
            <h2>Featured Projects</h2><a href="/projects">See All <i class="icon-cheveron-right"></i></a>
        </div>
        {% for post in site.posts %}
        {% if post.categories contains 'project' and post.categories contains 'featured' %}
        <div class="project">
            <div class="image" style="background-image: url({{ site.baseurl }}/images/{{ post.image }})"></div>
            <div class="content">
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <h4>{{ post.description }}</h4>
                <p>{{ post.preview }}</p>
                <a class="primary button" href="{{post.project-link}}">See project <i class="icon-cheveron-right"></i></a>
                {% if post.secondary-button %}
                    <a class="secondary button" href="{{post.secondary-button-link}}">{{post.secondary-button}}<i class="icon-cheveron-right"></i></a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </section>

    <div class="divider"> <h2>Resume</h2> </div>

    <section id="resume">
        <section class="title">
            <h2>Manuel Oppel&nbsp;del&nbsp;Rio</h2>
            <a class="primary button" href="files/resume.pdf">Download PDF <i class="icon-download"></i></a>
        </section>
        <hr>
        <section>
            <h3>Skills</h3>
            <ul class="skills">
                <li>C++</li>
                <li>Java</li>
                <li>Python</li>
                <li>Javascript</li>
                <li>CSS</li>
                <li>HTML</li>
                <li>XML</li>
                <li>Android Studio</li>
                <li>MongoDB</li>
                <li>Express.js</li>
                <li>Angular/Angular.js</li>
                <li>Node.js</li>
                <li>jQuery</li>
                <li>Git</li>
            </ul>
        </section>
        <section>
            <h3>Experience</h3>
            <p><strong>Web Developer</strong> for Nektar De Stagni, a fine jewelry designer.</p>
            <p class="date">Summer 2016</p>
            <ul>
                <li>Developed a dynamic masonry layout using JavaScript.</li>
                <li>Created a live Instagram feed using their API.</li>
                <li>Worked with CEO to develop a SEO plan; resulted in higher search rankings.</li>
                <li>Redesigned ecommerce website, improving load times, conversion, and bounce rate.</li>
            </ul>

            <p><strong>Web and Graphic Designer</strong> for Tunity Global, a telecom company.</p>
            <p class="date">Summer 2015</p>
            <ul>
                <li>Updated web pages through CSS and HTML</li>
                <li>Generated print and web content while following existing brand guidelines.</li>
                <li>Managed the company social media presence.</li>
            </ul>
        </section>
        <section>
            <h3>Education</h3>
            <p><strong>University of Florida,</strong> Gainesville, FL</p>
            <ul>
                <li>Bachelor in Anthropology</li>
                <li>Minor in Computer Science</li>
            </ul>
            <p><strong>Selected coursework:</strong> Data Structures and Algorithms, Programming Fundamentals I & II,
                Intro to Computer Organization, Application of Discrete Structures, Computational Linear Algebra.</p>
        </section>
    </section>
    {% include contact.html %}
    {% include footer.html %}