{% include head.html %}

<body>
    {% include header.html %}
    <section id="about">
        <h2>Hi, I'm <span class='highlighted'>Manu</span> — a full-stack web and software developer with a strong eye
            for design.</h2>
        <p>I strive to create efficient, elegant solutions to real problems, in a way that is both
            enjoyable to interact with and beautiful to look at. If you want to get to know me just
            <a href="#contact">get in touch</a>, or <a href="#projects">check out my work.</a></p>
    </section>
    <section id="projects">
        <div class="divider">
            <h2>Featured Projects</h2><a href="/projects">See All <i class="icon-cheveron-right"></i></a>
        </div>
        {% for post in site.posts %}
        {% if post.categories contains 'project' and post.categories contains 'featured' %}
        <div class="project">
            <div class="image" style="background-image: url({{ site.baseurl }}/images/{{ post.image }})"></div>
            <div class="content">
                <h3><a href="{{ post.project-link }}">{{ post.title }}</a></h3>
                <h4>{{ post.description }}</h4>
                <p>{{ post.preview }}</p>
                <a class="primary button" href="{{post.project-link}}">See project <i class="icon-cheveron-right"></i></a>
                {% if post.secondary-button %}
                    <a class="secondary button" href="{{post.secondary-button-link}}">{{post.secondary-button}}<i class="icon-cheveron-right"></i></a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </section>

    {% include contact.html %}
    {% include footer.html %}